&__action {
    font-size: inherit;
    margin: $space-stack-s;
    
    
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        display: inline-block;
        margin: $space-inline-s;

        &:last-of-type {
            margin-right: 0;
        }
    }
    
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        display: block;
        font-size: inherit;
        margin: $space-stack-s;
    }
}
