.vision-provider {
    border: none;
    height: 625px;
    // max-height: 1650px;
    width: 100%;

    @import 'content';
    @import 'description';
}

.dental-provider {
    border: none;
    height: 625px;
    width: 100%;
}