@import 'button/download-button';
@import 'nav/link';

.willow-logo-link {
    text-decoration: none;
    
    &__image {
        display: inline-block;
    }
}

.willow-card-grid {
    display: block;
    margin-bottom: $space-xxl;

    @media (min-width: 768px) {
        display: flex;
    }
}

.willow-card-grid__item {
    margin-right: 0;

    @media (min-width: 768px) {
        margin-right: $space;
    }
}

.willow-card {
    max-width: none;
}

.willow-logo-link__image {
    &--cl {
        height: 30px;

        @media all and (min-width: 828px) {
            height: 40px;
        }
    }
}

.willow-page-header {

    background-color: #fff;
    
        &__content-controls {
            padding-top: $space-xxl;
        }
    }

.willow {
    @import 'secondary-nav/secondary-nav';
}

.willow-page-header__content-controls {
    padding-top: $space;
    padding-bottom: $space;

    @media all and (min-width: 828px) {
        padding-top: $space-l;
        padding-bottom: $space-l;
    }
}

.willow-page-header__branding {
    margin-bottom: $space;
    margin-top: $space;

    &:first-child {
        margin-top: $space;
    }

    @media all and (min-width: 828px) {
        margin-bottom: $space-l;
        margin-top: $space-l;
    
        &:first-child {
            margin-top: $space-l;
        }

    }
}


.willow-primary-nav__link {
    // background-color: #19557f;
    color: $theme-primary;
    text-decoration: none;

    &:focus {
        background-color: $theme-base-3;    
    }

    &:visited {
        // background-color: $theme-base;
        color: $theme-primary;
    }

    &:hover {
        background-color: $theme-base-3;
    }

    &:active {
        background-color: $theme-base-2;
    }
}

.willow-primary-nav__link--active {
    background-color: $theme-base-2;
    color: $theme-primary;
}

.willow-page-footer {
    background-color: #fff;
}

.willow-footer-nav__link {
    color: #19557f;

    &:hover {
        color: #19557f;
        text-decoration: none;
    }
}

.willow-page-footer__copyright {
    color: #2e2e2e;
}

// .willow-page-header__content {
//     position: relative;
// }

.willow-primary-nav {
    &__item {
        display: inline-block;
    }

    &__link {
        display: block;
        padding: 0.75rem;
        text-decoration: none;
        
        [data-expanded="false"] & {
            &:after {
                border-bottom: 5px solid white;
                border-left: 5px solid transparent;
                border-right: 5px solid white;
                border-top: 5px solid transparent; 
                vertical-align: text-top;
            }
        }
        
        [data-expanded="true"] & {
            &:after {
                border-bottom: 5px solid transparent;
                border-left: 5px solid white;
                border-right: 5px solid transparent;
                border-top: 5px solid white;
                vertical-align: text-bottom;
            }
        }
    }
}

.willow-page-header {
    border-bottom: 15px solid #19557f
}


.willow-page-header {
    align-items: center;

    &__content {
        display: block;
    }
}